<html>

   <head>
      <title>Session Exercise</title>
   </head>

   <body>
      <div>
          <h1> Login </h1>
          <h4 class="warning">{{message}}</h4> #צריך css
          <form action="/login" method="POST">
             <input placeholder="Name" autocomplete="off" type="email" name="username" required>
             <br/><br/>
             <input placeholder="Password" type="password" name="password" required>
             <br/><br/>
              <input type="submit" value="Login">
          </form>
      </div>
   </body>

</html>
